<template>
  <div class="container">

    <div class="alert alert-danger" v-if="error">Something went wrong while getting data.</div>

    <span v-if="loading">Loading...</span>

    <template v-else>
      <h4>Filter...</h4>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="select-city">Select city</label>
        </div>
        <select v-model="selectedCityName" class="custom-select" id="select-city">
          <option value="">Select...</option>
          <option v-for="city in allData" v-bind:value="city.name">{{ city.name }}</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="select-street">Select street</label>
        </div>
        <select v-model="selectedStreetName" class="custom-select" id="select-street" :disabled="this.selectedCityName === ''">
          <option value="">Select...</option>
          <option v-for="street in currentCity.streets" v-bind:value="street.name">{{ street.name }}</option>
        </select>
      </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="select-year">Select year</label>
        </div>
        <select v-model="selectedYearValue" class="custom-select" id="select-year" :disabled="this.selectedStreetName === ''">
          <option value="">Select...</option>
          <option v-for="year in currentStreet.years" v-bind:value="year.year">{{ year.year }}</option>
        </select>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>City</th>
          <th>Street</th>
          <th>Year</th>
          <th>Object</th>
        </tr>
        </thead>

        <tbody>
        <template v-for="city in tableData">
          <template v-for="street in city.streets">
            <template v-for="year in street.years">
              <template v-for="city_object in year.city_objects">
                <tr>
                  <td>{{ city.name }}</td>
                  <td>{{ street.name }}</td>
                  <td>{{ year.year }}</td>
                  <td>{{ city_object.name }}</td>
                </tr>
              </template>
            </template>
          </template>
        </template>
        </tbody>
      </table>
    </template>
  </div>
</template>


<script>
    export default {
        data() {
            return {
                loading: true,
                error: false,
                allData: [],
                selectedCityName: '',
                selectedStreetName: '',
                selectedYearValue: '',
            }
        },
        mounted() {
            this.getTable();
        },
        computed: {
            currentCity: function () {
                this.selectedStreetName = '';
                this.selectedYearValue = '';

                if (this.selectedCityName === '') {
                    return {};
                }

                return this.allData.find(city => {
                    return city.name === this.selectedCityName;
                });
            },
            currentStreet: function () {
                this.selectedYearValue = '';

                if (this.selectedStreetName === '') {
                    return {};
                }

                return this.currentCity.streets.find(street => {
                    return street.name === this.selectedStreetName;
                });
            },
            currentYear: function () {
                if (this.selectedYearValue === '') {
                    return {};
                }

                return this.currentStreet.years.find(year => {
                    return year.year === this.selectedYearValue;
                });
            },
            tableData: function () {
                if (this.selectedCityName === '') {
                    return this.allData;
                }

                let tableData = [];
                tableData[0] = {...this.currentCity};

                if (this.selectedStreetName !== '') {
                    tableData[0]['streets'] = [];
                    tableData[0]['streets'][0] = {...this.currentStreet};
                }

                if (this.selectedYearValue !== '') {
                    tableData[0].streets[0].years = [];
                    tableData[0].streets[0].years[0] = {...this.currentYear};
                }

                return tableData;
            }
        },
        methods: {
            getTable() {
                axios.get('/cities-objects', {
                    params: this.params
                })
                    .then(response => {
                        this.allData = response.data;
                    }).catch(error => {
                    this.error = true;
                }).then(() => {
                    this.loading = false;
                });
            }
        }
    }

</script>
